{% extends 'base.html' %} {% block content %} {% load static %}
<section
  id="index"
  class="flex flex-col min-h-screen bg-gradient-to-b from-rose-500 to-white items-center"
>
  {% if user.is_authenticated %}
  <div>hoşgeldiniz {{user.get_username}}</div>
  {% endif %}

  <div
    class="bg-white bg-opacity-80 rounded my-40 mx-4 px-4 py-2 pb-4 space-y-8"
  >
    <div class="text-center">
      <h1 class="text-2xl font-semibold text-gray-900 tracking-wider font-mono">
        Too&middot;Doo'ya Hoşgeldiniz
      </h1>
    </div>
    <div>
      <img
        src="{% static 'main/images/welcome-center.png' %}"
        alt="welcome-center"
        class="m-auto w-2/4"
      />
    </div>
    <div class="flex flex-col items-center">
      <a
        href="{% url 'login' %}"
        class="bg-rose-500 hover:bg-rose-600 text-white font-bold py-2.5 rounded w-4/6 text-center"
        type="button"
      >
        Kullanmaya Başlayın
      </a>
    </div>
  </div>
</section>
{% endblock content %}
