{% extends 'base.html' %} {% block content %} {% load static %} {% block ext_css_files %}
<link rel="stylesheet" href="{% static 'tasks/css/style.css' %}" />
{% endblock ext_css_files %}
<section id="today" class="bg-gray-100">
  {% include 'partials/sidebar.html' %}
  <div class="p-6 sm:ml-72 flex flex-1 overflow-hidden">
    <div class="flex flex-1 flex-col overflow-hidden">
      <div class="header flex flex-row items-center justify-center">
        <div class="flex-1">
          <div class="items-center flex space-x-2">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke-width="1.5"
              stroke="currentColor"
              class="w-6 h-6"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M12 3v2.25m6.364.386l-1.591 1.591M21 12h-2.25m-.386 6.364l-1.591-1.591M12 18.75V21m-4.773-4.227l-1.591 1.591M5.25 12H3m4.227-4.773L5.636 5.636M15.75 12a3.75 3.75 0 11-7.5 0 3.75 3.75 0 017.5 0z"
              />
            </svg>
            <span class="font-semibold text-xl"> Günüm </span>
          </div>
          <div class="font-light text-sm text-gray-600">
            <span class="whitespace-nowrap overflow-hidden text-ellipsis">
              {% now "j F l"%}
            </span>
          </div>
        </div>
        <div>TO DO</div>
      </div>
    </div>
  </div>
</section>
{% block ext_js_files %}
<script src="{% static 'tasks/js/tasks.js' %}"></script>
{% endblock ext_js_files %} {% endblock content %}
