{% load static %} {% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="tr" class="light">
    <head>
        <meta charset="UTF-8" />
        <meta name="color-scheme" content="dark">
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link
            rel="apple-touch-icon"
            sizes="180x180"
            href="{% static 'main/apple-touch-icon.png' %}"
        />
        <link
            rel="icon"
            type="image/png"
            sizes="32x32"
            href="{% static 'main/favicon/favicon-32x32.png' %}"
        />
        <link
            rel="icon"
            type="image/png"
            sizes="16x16"
            href="{% static 'main/favicon/favicon-16x16.png' %}"
        />
        <link rel="manifest" href="{% static 'main/site.webmanifest' %}" />
        <link rel="stylesheet" href="{% static 'main/css/style.css' %}" />
        {% tailwind_css %}
        <title>To-Do App</title>
    </head>
    <body>
        {% include 'header.html' %}
        <main id="main">{% block content %} {% endblock content %}</main>
    </body>
    <footer>
        <script src="{% static 'main/js/script.js' %}"></script>
    </footer>
</html>
